<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.kyiminhan.spring.dao.mapper.EmployeeMapper">
	<cache />


	<insert id="save"
		parameterType="com.kyiminhan.spring.entity.Employee">
		<!-- TODO -->
	</insert>

	<update id="update"
		parameterType="com.kyiminhan.spring.entity.Employee">
		<!-- TODO -->
	</update>

	<select id="getAll"  resultType="hashmap">
		select * from employee
	</select>
</mapper>