<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.kyiminhan.mm.spring.employee.mapper.EmpSQL01Mapper">

	<insert id="execute" useGeneratedKeys="true" keyProperty="id"
		keyColumn="id" parameterType="com.kyiminhan.mm.spring.domain.Employee"
		flushCache="true" statementType="PREPARED" timeout="20">

		INSERT INTO
		EMPLOYEE
		(NAME, EMAIL, ADDRESS, PHONE)
		VALUE
		(#{name},#{email},#{address}, #{phone})
	</insert>

</mapper>